#header {
    background-image: url("../images/DC\ Marvel.jpg");
    height: 140px;
    display: grid;
    grid-template-columns: auto;
    border: 3px solid red;
}

body {
    background: url("../images/Movie\ Background.jpg") top / cover no-repeat;
    font-family: Yeon Sung;
    color: royalblue;
}

a {
    text-decoration: none;
    color: seagreen;
}

a:hover {
    color: seashell;
}

#header div {
    text-align: center;
    text-decoration: underline;
    font-family: Trade Winds;
    font-size: 24pt;
    color: gold;
    align-self: center;
}

footer {
    text-align: center;
    background-image: url("../images/DC\ Marvel.jpg");
    height: 55px;
}

footer em,
strong {
    background: black;
    color: gold;
}